# Ignore temporary files
.*

# don't ignore travis file
!.travis.yml

# Ensure that .gitignore files are included
!.gitignore

# Keep track of .keepme files
!.keepme

build
out
.gradle
*.iws
*.ipr
*.iml
